<a href="https://colab.research.google.com/github/AdilKhan-Analyst/AdilKhan-Analyst/blob/main/15_03_25_Basic_of_conditional_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = input("enter your name: ")
age = int(input("enter your age: "))
print(f"My name is {name} and my age is {age}")

enter your name: Adil Hassan Khan
enter your age: 40
My name is Adil Hassan Khan and my age is 40

Create two variables first_name and last_name, assign them your first and last name, and print them together as a full name.

In [4]:
fname = input("enter your name: ")
lname = input("enteryour last name: ")
fulname = fname + " " + lname
print(f"My full name is {fulname}.")

enter your name: Adil
enteryour last name: Khan
My full name is Adil Khan.

. Assign two numbers to variables and print their sum, difference, product, and quotient.

 Take User Input for Arithmetic Operations

In [5]:
num1 = int(input("enter first number: "))
num2 = int(input("enter second number: "))
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
print(f"addition: {addition}, subtraction: {subtraction}, multiplication: {multiplication}, division: {division}")

enter first number: 42
enter second number: 66
addition: 108, subtraction: -24, multiplication: 2772, division: 0.6363636363636364

4. Convert an integer value to a string and print it along with a message. Example:

"The number is 25".

In [6]:
num:str = str(25)
print(f'"The number is  {str(num)}"')
print(type(num))

"The number is  25"
<class 'str'>

# **5. Convert String to Integer and Add 50**

In [7]:
num_str:int = "563"
num_str = int(num_str)
print(type(num_str))
print(num_str + 850)

<class 'int'>
1413

Swap Two Variables Without Using a Third Variable

In [8]:
a = 12
b = 10

print(f"before swapping: a = {a}, b = {b}")

a, b = b, a

print(f"after swapping: a = {a}, b = {b}")

before swapping: a = 12, b = 10
after swapping: a = 10, b = 12

# **Variables**

Make a variable of string of 10 charactors and slice the string according to user input.

In [10]:
my_string: str = ['abcdefghij']

start_input = int(input("enter start index number between (1:10)  "))-1
end_input = int(input("enter end index number between (1:10)  "))-1

print(my_string[start_input: end_input])

enter start index number between (1:10)  1
enter end index number between (1:10)  10
['abcdefghij']

Write a Python program that takes marks of 4 subjects from user. Calculate the percentage and Print the result according to the percentage

In [12]:
english = int(input("enter english marks: "))
maths = int(input("enter maths marks: "))
urdu = int(input("enter urdu marks: "))
science = int(input("enter science marks: "))

obt_marks = english + maths + urdu + science
total_marks = 400
per = round((obt_marks/total_marks)*100,2)
print(f"your percentage is {per}%")

enter english marks: 50
enter maths marks: 60
enter urdu marks: 70
enter science marks: 80
your percentage is 65.0%

Assign two values to two variables and perform arithmetic operation between them

In [9]:
num_1 = 6
num_2 = 3
addition = num_1 + num_2
subtraction = num_1 - num_2
multiplication = num_1 * num_2
division = num_1 / num_2
print(addition, subtraction, multiplication, division)

9 3 18 2.0

## marksheet

In [14]:
english = int(input("Enter English marks: "))
maths = int(input("Enter Maths marks: "))
urdu = int(input("Enter Urdu marks: "))
science = int(input("Enter Science marks: "))

obt_marks = english + maths + urdu + science
total_marks = 400
per = (obt_marks / total_marks) * 100  # Removed extra indentation
if per >= 80:
    print("Your grade is A+")
elif per >= 70:
    print("Your grade is A")
elif per >= 60:
    print("Your grade is B")
elif per >= 50:
    print("Your grade is C")
else:
    print("Sorry! You have failed")

Enter English marks: 50
Enter Maths marks: 45
Enter Urdu marks: 70
Enter Science marks: 80
Your grade is B