<a href="https://colab.research.google.com/github/AdilKhan-Analyst/AdilKhan-Analyst/blob/main/python_basics_assignment_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics Assignment
## Part 1: Print Statement & Variables
### Task 1: Printing Basic Information

In [1]:
name = "Adil"  # Assign a name
age = 30       # Assign an age

# Print statement to display the message
print("Hello, my name is", name)
print("I am", age, "years old")

Hello, my name is Adil
I am 30 years old

In [2]:
city="Karachi"
PO_Box="12345"
print("My city is", city)
print("My PO Box is", PO_Box)

My city is Karachi
My PO Box is 12345

In [23]:
country="Pakistan"
zip_code="12345"
area="nazimabad"
language="python"
print("Hey, My country is", country, "& zipcode is",zip_code, "& area is", area, "& language is", language)

Hey, My country is Pakistan & zipcode is 12345 & area is nazimabad & language is python

### Task 2: Storing and Displaying Information

In [26]:
# Declaring variables
student_name = "Adil Khan"       # Replace with your name
course_name = "Data Science & AI"    # Replace with your course name
institution_name = "SMIT"  # Replace with your institution name
year_of_study = 2025               # Replace with your current year of study

# Displaying the information
print("Student Name:", student_name)
print("Course Name:", course_name)
print("Institution Name:", institution_name)
print("Year of Study:", year_of_study)
print("student name is",student_name,"& my course name is",course_name,"& institution name",institution_name,"& my year of study is",year_of_study)

Student Name: Adil Khan
Course Name: Data Science & AI
Institution Name: SMIT
Year of Study: 2025
student name is Adil Khan & my course name is Data Science & AI & institution name SMIT & my year of study is 2025

## Part 2: Mathematical Operations

In [27]:
a = 5
b = 3
result = a + b
print("Addition:", result)

Addition: 8

In [34]:
a = 5
b = 3
result=b-a
print("subtraction:",result)

subtraction: -2

In [36]:
a = 5
b = 3
result=b*a
print("multyply:",result)

multyply: 15

In [37]:
result = a // b
print("Floor Division:", result)

Floor Division: 1

In [38]:
a = 5
b = 3
result = a % b
print("Modulus:", result)

Modulus: 2

In [39]:
a = 5
b = 3
result = a ** b
print("Exponentiation:", result)

Exponentiation: 125

In [41]:
num1 = 10
num2 = 4

# Perform different operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Print the results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 14
Subtraction: 6
Multiplication: 40
Division: 2.5
Modulus: 2
Exponentiation: 10000

# Calculating the area
area = length * width

In [42]:
length = 5
width = 3

area = length * width

print("The area of the rectangle is:", area)

The area of the rectangle is: 15

Part 3: String Slicing & Methods

In [61]:
text = "Hello, World!"
print(text[:5])
print(text[7:])
print(text[::2])
print(text[::-1])
print(text[2:])
print(text.upper())
print(text.replace("World", "Python"))
print(text.split(", "))
print(text.find("World"))

Hello
World!
Hlo ol!
!dlroW ,olleH
llo, World!
HELLO, WORLD!
Hello, Python!
['Hello', 'World!']
7

SyntaxError: unterminated string literal (detected at line 5) (<ipython-input-63-95e9bf3d18d0>, line 5)